<h4><%= item.product.name %></h4>

<p>Description: <%= item.product.description %><p>

<br>

<p>Unit Price: <%= item.item_price_cents / 100.0 %><p>
<p>Quantity: <%= item.quantity %><p>
<p>Price: <%= item.total_price_cents / 100.0 %><p>
<br>
<br>